*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    font-family: cursive;
}

.contenedor{
   padding: 60px 0;
   width: 80%;
   max-width: 1500px;
   margin: auto;
   overflow: hidden; 

}
.titulo{
    color: rgb(204, 170, 126);
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
}

header{
    width: 100%;
    height: 600px;
    background: url(../imagenes/marialaura-gionfriddo-jEZV5MBHCpk-unsplash\ \(1\).jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;  
    
}


nav > a{
    color: black;
    font-weight: 300;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
 header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
 }
 .textos-header h1{
    font-size: 50px;
    

 }
 .textos-header h2{
    font-size: 40px;
    font-weight: 300;
 }

 .contenedor-nosotros{
    display: flex;
    justify-content: space-evenly;
 }

 .imagen-uno{
    width: 45%;
 }
 .contenedor-nosotros .contenido-texto{
    width: 45%;
 } 


 

 .contenedor-cara{
    display: flex;
    justify-content: space-evenly;
   
 }

 .imagen-dos{
    width: 45%;
 }

 .contenedor-cara .contenido-texto{
    width: 45%;
 }
 
 .galeria{
    background-color: rgba(255, 242, 223, 0.678);
 }

 .galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
 }

 .imagen-galeria{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
    height: 200px;

 }
 .imagen-galeria > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
 }

 .hover-galeria{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
 /* transform: scale(1) */

  background:rgba(206, 191, 171, 0.74);
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

 }
 .hover-galeria img{
    width: 50px;

 }
 .hover-galeria p{
    color: #fff;

 }
 .imagen-galeria:hover .hover-galeria{
    transform: scale(0);
 }

 .cards{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
 }
 .cards .card{
    background: rgb(238, 209, 175);
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
    

 }
 .cards .card > img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    border: 3px solid #fff;
    border-radius: 50% ;

 }
 .cards .card > .contenedor-texto-card{
    width: 200%;
    color: black;
 }
 .lugares-museos{
   background: #f5dab677;
   padding-bottom: 30px;
 }

 .lugares-visita{
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
 } 
 .lugares-visita2{
   width: 20%;
   text-align: center;
 }

 .lugares-visita2 img{
   width: 90%;
    
 }

 .lugares-visita2 h3{
   margin: 10px 0;
 }

 .lugares-visita2 a{
   color: rgba(155, 131, 102, 0.89);
 }

 footer{
   background: rgba(197, 149, 95, 0.74) ;
   padding: 60px;
   margin: auto ;
   overflow: hidden;
   
 } 

 .contenedor-footer{
   display: flex;
   width: 90% ;
   justify-content: space-evenly ;
   margin: auto;
   padding-bottom: 50px;
   border-bottom: 1px solid black;

 } 
 .equipo-footer{
   text-align: center;

 }

 .equipo-footer h4{
   color: #fff;
   border-bottom: 3px solid black;
   padding-bottom: 5px ;
   margin-bottom: 10px;
 }

 .titulo-final{
   text-align: center;
   color: #fff;
 }

 .video-museos{
   align-items: center;
 }